/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/04/2019, 21:14:21
    Author     : Rafael Sousa
*/

body{
        
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        width: 100%; /* com isso imagem ocupará toda a largura da tela. Se colocarmos height: 100% também, a imagem irá distorcer */
        position: absolute;
        
      
    }
    
    
    
    .fonte
    {
         color: #CEECF5;
         text-align: center;
            
    }
    
    .fontetest
    {
         color: #DF013A;
         text-align: left;
            
    }
    
    
    .button:hover {
      opacity: 0.4;
     background-color: #0431B4;
     color: #CEECF5;
      text-align: center;
    
}

.button2
{
        color: #FE2E2E;
}

button a
{
   
     color: #CEECF5;
}
 
button a:hover
{
    text-decoration: none;
     color: #CEECF5;
}

.form
{
    color: #CEECF5;
    text-align: left;
    padding-left: 400px;
}

.form2
{
    color: #CEECF5;
    text-align: left;
    padding-left: 320px;
}

.div1
   {
    position: absolute;
    left: 10px;
    top: 30px;
    padding-top: 20px;
    padding-left: 20px;
    border-radius: 10px;
    	
   

        
   }